{{! template-lint-disable no-bare-strings }}
<div>
  <DashboardHeader
    @title={{format-message "Settings"}}
    @description={{format-message
      "Make changes to the behaviour of the device"
    }}
    class="mb-4"
  />
  <BsListGroup class="mb-3" as |ListGroup|>
    <ListGroupNav
      @parent={{ListGroup}}
      @route="authenticated.settings.events"
      @icon="card-list"
    >{{format-message "Events"}}</ListGroupNav>
  </BsListGroup>
  <BsListGroup class="mb-3" as |ListGroup|>
    <ListGroupNav
      @parent={{ListGroup}}
      @route="authenticated.settings.hostname"
      @icon="house"
    >{{format-message "Hostname"}}</ListGroupNav>
    <ListGroupNav
      @parent={{ListGroup}}
      @route="authenticated.settings.timezone"
      @icon="clock"
    >{{format-message "Timezone"}}</ListGroupNav>
    <ListGroupNav
      @parent={{ListGroup}}
      @route="authenticated.settings.leds"
      @icon="lightbulb"
    >{{format-message "LED behaviour"}}</ListGroupNav>
  </BsListGroup>
  <BsListGroup class="mb-3" as |ListGroup|>
    <ListGroupNav
      @parent={{ListGroup}}
      @route="authenticated.settings.password"
      @icon="key"
    >{{format-message "Password"}}</ListGroupNav>
    <ListGroupNav
      @parent={{ListGroup}}
      @route="authenticated.settings.ssh"
      @icon="house-lock"
    >{{format-message "SSH"}}</ListGroupNav>
  </BsListGroup>
  <BsListGroup class="mb-3" as |ListGroup|>
    {{#if (hasmodule "adguardhome")}}
      <ListGroupNav
        @parent={{ListGroup}}
        @route="authenticated.settings.adguard"
        @icon="badge-ad"
      >{{format-message "AdGuardHome"}}</ListGroupNav>
    {{/if}}
  </BsListGroup>
  <BsListGroup class="mb-3" as |ListGroup|>
    <ListGroupNav
      @parent={{ListGroup}}
      @route="authenticated.settings.reboot"
      @icon="arrow-counterclockwise"
    >{{format-message "Reboot"}}</ListGroupNav>
    <ListGroupNav
      @parent={{ListGroup}}
      @route="authenticated.settings.factory"
      @icon="house-down"
    >{{format-message "Factory"}}</ListGroupNav>
    <ListGroupNav
      @parent={{ListGroup}}
      @route="authenticated.settings.upgrade"
      @icon="house-add"
    >{{format-message "Firmware"}}</ListGroupNav>
  </BsListGroup>
</div>