{{! template-lint-disable no-bare-strings }}
<div>
  <DashboardHeader
    @title={{format-message "Settings"}}
    @description={{format-message "Make changes to the behaviour of the device"}}
    class="mb-4"
  />
  <BsListGroup class="mb-3" as |ListGroup|>
    <ListGroupNav
      @parent={{ListGroup}}
      @route="authenticated.settings.system.hostname"
      @icon="house"
    >{{format-message "Hostname"}}</ListGroupNav>
    <ListGroupNav
      @parent={{ListGroup}}
      @route="authenticated.settings.system.timezone"
      @icon="clock"
    >{{format-message "Timezone"}}</ListGroupNav>
    <ListGroupNav
      @parent={{ListGroup}}
      @route="authenticated.settings.system.leds"
      @icon="lightbulb"
    >{{format-message "LED behaviour"}}</ListGroupNav>
    <ListGroupNav
      @parent={{ListGroup}}
      @route="authenticated.settings.system.password"
      @icon="key"
    >{{format-message "Password"}}</ListGroupNav>
  </BsListGroup>
  <BsListGroup class="mb-3" as |ListGroup|>
    <ListGroupNav
      @parent={{ListGroup}}
      @route="authenticated.settings.system.ssh"
      @icon="house-lock"
    >{{format-message "SSH"}}</ListGroupNav>
    <ListGroupNav
      @parent={{ListGroup}}
      @route="authenticated.settings.system.adguard"
      @icon="badge-ad"
    >{{format-message "AdGuardHome"}}</ListGroupNav>
  </BsListGroup>
  <BsListGroup as |ListGroup|>
    <ListGroupNav
      @parent={{ListGroup}}
      @route="authenticated.settings.system.reboot"
      @icon="arrow-counterclockwise"
    >{{format-message "Reboot"}}</ListGroupNav>
    <ListGroupNav
      @parent={{ListGroup}}
      @route="authenticated.settings.system.factory"
      @icon="house-down"
    >{{format-message "Factory"}}</ListGroupNav>
    <ListGroupNav
      @parent={{ListGroup}}
      @route="authenticated.settings.system.upgrade"
      @icon="house-add"
    >{{format-message "Firmware"}}</ListGroupNav>
  </BsListGroup>
</div>