{{! template-lint-disable no-bare-strings no-inline-styles }}
<div>
  <DashboardHeader @title={{format-message "Internet"}} />
  {{#if @internet.connected}}
    <SettingsDescription>
      {{format-message "You are currently connected to the internet"}}
    </SettingsDescription>
  {{else}}
    <SettingsDescription>
      {{format-message "You are currently disconnected from the internet"}}
    </SettingsDescription>
  {{/if}}
  <div
    class="mw-100 align-items-center d-flex justify-content-center user-select-none container text-center"
  >
    <div class="d-grid">
      <tbody>
        <tr>
          <td>
            <BsIcon @name="globe2" class="font-4em {{@internet.globe_color}}" />
          </td>
          <td>
            <div
              class="rounded-2 {{@internet.line_color}} m-1"
              style="height: 0.25em; width: 3em"
            />
          </td>
          <td>
            <BsIcon @name="router" class="font-4em text-primary" />
          </td>
          <td>
            <div
              class="rounded-2 bg-success m-1"
              style="height: 0.25em; width: 3em"
            />
          </td>
          <td>
            <BsIcon @name="house" class="font-4em text-primary" />
          </td>
        </tr>
      </tbody>
    </div>
  </div>
  {{#if @internet.connected}}
    <BsListGroup class="my-3" as |ListGroup|>
      <ListGroupItem
        @parent={{ListGroup}}
        @title={{format-message "IPv4 address"}}
        @detail={{@internet.ipv4}}
      />
      <ListGroupItem
        @parent={{ListGroup}}
        @title={{format-message "Online since"}}
        @detail={{uptime @internet.uptime}}
      />
    </BsListGroup>
  {{/if}}
</div>

<BsListGroup class="mb-3" as |ListGroup|>
  <ListGroupItem
    @parent={{ListGroup}}
    @title={{format-message "Model"}}
    @detail={{@system.board.model}}
  />
  <ListGroupItem
    @parent={{ListGroup}}
    @title={{format-message "Firmware"}}
    @detail={{@system.board.release.revision}}
  />
  <ListGroupItem
    @parent={{ListGroup}}
    @title={{format-message "Uptime"}}
    @detail={{uptime @system.info.uptime}}
  />
  <ListGroupItem
    @parent={{ListGroup}}
    @title={{format-message "Temperature"}}
    @detail={{temperature @system.thermal}}
  />
</BsListGroup>

<EthernetPorts @ethernet={{@ethernet}} />