{{#if @ethernet}}
  <BsListGroup class="mb-3" as |ListGroup|>
    {{#each-in @ethernet as |name info|}}
      <ListGroup.item>
        <div class="container btn">
          <div class="row align-items-start align-items-center d-flex">
            <div class="col-4 text-end mw-50">
              <BsIcon
                @name="ethernet"
                class="h1 {{if info.carrier 'text-primary' 'text-secondary'}} "
              />
            </div>
            <div class="col">
              <div class="container">
                <div class="row align-items-start d-flex">
                  <div class="col-4 text-end mw-50">
                    {{format-message "Name"}}
                  </div>
                  <div class="col-4 text-start mw-50">
                    {{name}}
                  </div>
                </div>
                {{#if info.carrier}}
                  <div class="row align-items-start d-flex">
                    <div class="col-4 text-end mw-50">
                      {{format-message "Speed"}}
                    </div>
                    <div class="col-4 text-start mw-50">
                      {{info.speed}}
                    </div>
                  </div>
                {{/if}}
              </div>
            </div>
          </div>
          <BsPopover @triggerEvents="hover" @placement="top">
            <div data-name="popover-content">
              {{#if (eq info.carrier true)}}
                <div class="row">
                  <div class="col text-end">
                    <BsIcon @name="arrow-up-short" class="text-primary" /></div>
                  <div class="col text-start">{{bandwidth info.tx_bytes}}</div>
                </div>
                <div class="row">
                  <div class="col text-end">
                    <BsIcon
                      @name="arrow-down-short"
                      class="text-primary"
                    /></div>
                  <div class="col text-start">{{bandwidth info.rx_bytes}}</div>
                </div>
              {{else}}
                <div class="row">
                  <div class="col text-center">
                    {{format-message "Unplugged"}}
                  </div>
                </div>
              {{/if}}
              <div class="row">
                <div class="col text-center">
                  {{info.macaddr}}
                </div>
              </div>
            </div>
          </BsPopover>
        </div>
      </ListGroup.item>
    {{/each-in}}
  </BsListGroup>
{{/if}}