{{! @glint-nocheck }}
<div class="input-group">
<input
  type="password"
  id={{@id}}
  disabled={{@disabled}}
  readonly={{@readonly}}
  aria-describedby={{@ariaDescribedBy}}
  value={{@value}}
  class="form-control {{this.formValidationClass}} {{this.sizeClass}}"
  ...attributes
  {{on "change" this.handleChange}}
  {{on "input" this.handleInput}}
>
<button class="btn btn-default reveal btn-primary" type="button" onclick={{fn this.onClick @id}}><i class="bi-eye"></i></button>
</div>