{{! template-lint-disable no-bare-strings }}
{{#if (eq this.devices.model undefined)}}
  <Header />
  <SettingsHeader
    @icon="pc-display-horizontal"
    @title={{format-message "Connected Devices"}}
  />
  <SettingsDescription>
    {{format-message "Loading ..."}}"
  </SettingsDescription>

{{else if (eq this.model.key "list")}}
  <Header />
  <SettingsHeader @icon="pc-display-horizontal" @title="Connected Devices" />
  <ButtonSelect
    @value={{this.network}}
    @value1="main"
    @option1={{format-message "Main"}}
    @value2="guest"
    @option2={{format-message "Guest"}}
    class="mb-3"
  />
  <BsListGroup as |ListGroup|>
    {{#each-in this.devices.model as |network devices|}}
      {{#if (eq this.network network)}}
        {{#each-in devices as |mac device|}}
          <ListGroup.item
            actionable="true"
            onclick={{fn this.onDevice this.network mac}}
          >
            <div class="container">
              <div class="row align-items-start">
                <div class="col-2">
                  <BsIcon
                    @name={{fingerprint
                      device.fingerprint.class
                      "pc-display-horizontal"
                    }}
                  />
                  <BsIcon @name={{fingerprint device.fingerprint.vendor}} />
                </div>
                <div class="col">
                  {{#if device.hostname}}
                    {{device.hostname}}
                  {{else}}
                    {{mac}}
                  {{/if}}
                  {{#if device.wifi}}
                    <BsIcon @name="wifi" />
                  {{else}}
                    <BsIcon @name="ethernet" />
                  {{/if}}
                </div>
              </div>
            </div>
          </ListGroup.item>
        {{else}}
          <ListGroup.item>{{format-message
              "No devices detected"
            }}</ListGroup.item>
        {{/each-in}}
      {{/if}}
    {{/each-in}}
  </BsListGroup>
{{else}}
  <BsForm
    @formLayout="vertical"
    @model={{this.model.form}}
    @onSubmit={{this.onSubmit}}
    {{on "change" this.onChange}}
    as |form|
  >
    <Header
      @onSubmit={{form.submit}}
      @onReset={{this.onReset}}
      @model={{this.datamodel}}
    />
    
    <SettingsHeader
      @icon={{fingerprint
        this.model.device.fingerprint.class
        "pc-display-horizontal"
      }}
      @title={{format-message "Device overview"}}
    />

    {{#if this.model.device.wifi}}
      <BsListGroup class="mb-3" as |ListGroup|>
        <ListGroup.item>
          <div class="container">
            <div class="row align-items-start align-items-center d-flex">
              <div class="col-4 text-end mw-50">
                <BsIcon
                  @name={{wifiicon this.model.device.wifi.signal}}
                  class="text-primary font-4em"
                />
              </div>
              <div class="col capitalize-first-letter">
                <div class="container">
                  <div class="row align-items-start d-flex">
                    <div class="col-4 text-end mw-50">
                      {{format-message "SSID"}}
                    </div>
                    <div class="col-4 text-start mw-50">
                      {{this.model.device.wifi.ssid}}
                    </div>
                  </div>
                  <div class="row align-items-start d-flex">
                    <div class="col-4 text-end mw-50">
                      {{format-message "Band"}}
                    </div>
                    <div class="col-4 text-start mw-50">
                      {{this.model.device.wifi.band}}
                    </div>
                  </div>
                  <div class="row align-items-start d-flex">
                    <div class="col-4 text-end mw-50">
                      {{format-message "Signal"}}
                    </div>
                    <div class="col-4 text-start mw-50">
                      {{this.model.device.wifi.signal}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ListGroup.item>
        <DeviceItem
          @parent={{ListGroup}}
          @title={{format-message "AP"}}
          @detail="{{this.model.device.wifi.host}}"
        />
        {{#if this.model.owner}}
          <DeviceItem
            @parent={{ListGroup}}
            @title={{format-message "Owner"}}
            @detail="{{this.model.owner}}"
            @onClick={{fn this.onClickUser this.network this.model.owner}}
          />
        {{else}}
          <DeviceItem @parent={{ListGroup}} @title="Owner">
            {{#unless this.model.owner}}
              {{#if (eq this.network "main")}}
                <form.element
                  @controlType="power-select"
                  @property="user"
                  @options={{this.users.mainUsers}}
                />
              {{else}}
                <form.element
                  @controlType="power-select"
                  @property="user"
                  @options={{this.users.guestUsers}}
                />
              {{/if}}
            {{/unless}}
          </DeviceItem>
        {{/if}}
      </BsListGroup>
    {{/if}}

    <BsListGroup class="mb-3" as |ListGroup|>
      <DeviceItem
        @parent={{ListGroup}}
        @title={{format-message "Name"}}
        @detail="{{this.model.device.hostname}}"
      />
      <DeviceItem
        @parent={{ListGroup}}
        @title={{format-message "Device"}}
        @detail="{{this.model.device.fingerprint.device}}"
      />
      {{#if this.model.device.fingerprint.vendor}}
        <DeviceItem
          @parent={{ListGroup}}
          @title={{format-message "Vendor"}}
          @detail="{{this.model.device.fingerprint.vendor}}"
        >
          <BsIcon @name={{fingerprint this.model.device.fingerprintvendor}} />
          {{this.model.device.fingerprint.vendor}}
        </DeviceItem>
      {{/if}}
      {{#if this.model.device.fingerprint.class}}
        <DeviceItem
          @parent={{ListGroup}}
          @title={{format-message "Class"}}
          @detail="{{this.model.device.fingerprint.class}}"
        />
      {{/if}}
      <DeviceItem
        @parent={{ListGroup}}
        @title={{format-message "MAC"}}
        @detail="{{this.model.key}}"
      />

    </BsListGroup>
    {{#if (and (eq this.network "main") this.model.form.dhcp)}}
      <BsListGroup class="mb-3" as |ListGroup|>
        <DeviceItem
          @parent={{ListGroup}}
          @title={{format-message "IPv4"}}
          @detail="{{this.model.device.ipv4}}"
        />
        {{#each this.model.device.ipv6 as |ipv6|}}
          <DeviceItem
            @parent={{ListGroup}}
            @title={{format-message "IPv6"}}
            @detail="{{ipv6}}"
          />
        {{/each}}
        <DeviceItem @parent={{ListGroup}} @title="DHCP">
          <ButtonSelect
            @value={{this.model.form.dhcp}}
            @value1="dynamic"
            @option1={{format-message "Dynamic"}}
            @value2="static"
            @option2={{format-message "Static"}}
          />
        </DeviceItem>
      </BsListGroup>

    {{/if}}
  </BsForm>
  {{#if this.model.device.bytes}}
    <BsListGroup as |ListGroup|>
      <ListGroup.item>
        <div class="w-100 justify-content-center">
          <ChartJs
            @type="pie"
            @data={{this.model.chart}}
            @width="5em"
            @height="5em"
          />
        </div>
        {{#each-in this.model.device.traffic as |type traffic|}}
          {{type}}
          ({{bandwidth traffic.bytes}})
          <BsProgress as |pg|>
            <pg.bar
              @value={{traffic.bytes}}
              @maxValue={{this.model.device.bytes}}
              @showLabel={{true}}
            />
          </BsProgress>
        {{/each-in}}
      </ListGroup.item>
    </BsListGroup>
  {{/if}}
{{/if}}