<BsForm
  @formLayout="vertical"
  @model={{this.adguard.model}}
  @onSubmit={{this.onSubmit}}
  {{on "change" this.adguard.onChange}}
  as |form|
>
  <Header @onSubmit={{form.submit}} @model={{this.adguard}} />
  <SettingsHeader @icon="badge-ad" @title={{format-message "AdGuardHome"}} />
  <ButtonSelect
    @value={{this.adguard.model.enable}}
    @value1="true"
    @option1={{format-message "Enable"}}
    @value2="false"
    @option2={{format-message "Disable"}}
    class="mb-4"
  />
  {{#if (eq this.adguard.model.enable "false")}}
    <SettingsDescription>
      {{format-message "Ads and tracking will not be blocked"}}
    </SettingsDescription>
  {{else}}
    <SettingsDescription>
      {{format-message "Ads and tracking will be blocked"}}
    </SettingsDescription>
    <form.element @controlType="text" @property="server1" as |el|>
      <el.control placeholder={{format-message "Primary DNS"}} required />
    </form.element>
    <SettingsDescription>
      {{format-message "Primary upstream DNS"}}
    </SettingsDescription>
    <form.element @controlType="text" @property="server2" as |el|>
      <el.control placeholder={{format-message "Secondary DNS"}} />
    </form.element>
    <SettingsDescription>
      {{format-message "Secondary upstream DNS (Optional)"}}
    </SettingsDescription>
    {{#if this.adguard.running}}
      <div class="mw-100 text-center">
        <a
          href={{this.adguard.webui}}
          target="_blank"
          rel="noopener noreferrer"
        >
          {{format-message "AdGuardHome configuration UI"}}
        </a>
      </div>
    {{/if}}
  {{/if}}
</BsForm>