{{! template-lint-disable no-inline-styles }}
<HeaderLogo />
{{#if this.loading}}
  <ActionSplash
    @icon="router"
    @description={{format-message "Loading ..."}}
    class="text-primary"
  />
{{else}}
  {{#if (eq this.uconfig.dashboard "home")}}
    <Dashboard
      @internet={{this.internet}}
      @ethernet={{this.ethernet}}
      @system={{this.system}}
    />
  {{/if}}

  {{#if (eq this.uconfig.dashboard "traffic")}}
    <DashboardTraffic @traffic={{this.traffic}} />
  {{/if}}

  {{#if (eq this.uconfig.dashboard "main")}}
    <DashboardMain
      @onDevices={{this.onDevices}}
      @onUsers={{this.onLanUsers}}
      @onManaged={{this.onManaged}}
      @wifiguest={{this.wifiguest}}
      @wifimesh={{this.wifimesh}}
      @onRadio={{this.radio.onRadio}}
    />
  {{/if}}

  {{#if (eq this.uconfig.dashboard "guest")}}
    <DashboardGuest
      @onClick={{this.onGuestDevices}}
      @onUsers={{this.onGuestUsers}}
    />
  {{/if}}

  {{#if (eq this.uconfig.dashboard "settings")}}
    <DashboardSettings @model={{this.model}} />
  {{/if}}

  <div
    class="container position-absolute bottom-0 align-items-center pb-2"
    style="max-width: 90%;"
  >
    <FooterApply />
    <div class="row text-center">
      <div class="col text-center">
        <DashboardIcon @name="globe" @index="home" />
      </div>
      <div class="col">
        <DashboardIcon @name="wifi" @index="main" />
      </div>
      <div class="col">
        <DashboardIcon @name="graph-up" @index="traffic" />
      </div>
      <div class="col">
        <DashboardIcon @name="gear" @index="settings" />
      </div>
    </div>
  </div>
{{/if}}