{{! template-lint-disable no-inline-styles }}
<HeaderLogo @logged-in={{true}} />

{{#if this.loading}}
  <ActionSplash
    @icon="router"
    @description={{format-message "Loading ..."}}
    class="text-primary"
  />
{{else}}
  {{#if (eq this.uconfig.dashboard "home")}}
    <Dashboard
      @internet={{this.connection}}
      @ethernet={{this.ethernet}}
      @system={{this.system}}
    />
  {{/if}}

  {{#if (eq this.uconfig.dashboard "traffic")}}
    <DashboardTraffic @traffic={{this.traffic}} @options={{this.scale}} />
  {{/if}}

  {{#if (eq this.uconfig.dashboard "main")}}
    <DashboardNetwork
      @onDevices={{this.onDevices}}
      @onUsers={{this.onLanUsers}}
      @onManaged={{this.onManaged}}
      @guest={{this.guest}}
      @mesh={{this.mesh}}
      @onRadio={{this.radio.onRadio}}
      @mode={{this.uconfig.mode}}
    />
  {{/if}}

  {{#if (eq this.uconfig.dashboard "guest")}}
    <DashboardGuest
      @onClick={{this.onGuestDevices}}
      @onUsers={{this.onGuestUsers}}
    />
  {{/if}}

  {{#if (eq this.uconfig.dashboard "settings")}}
    <DashboardSettings @model={{this.model}} />
  {{/if}}
  <footer>
    <FooterApply />
    <div class="row text-center" style="max-width:99%;">
      <div class="col text-center">
        <DashboardIcon @name="globe" @index="home" />
      </div>
      <div class="col">
        <DashboardIcon @name="buildings" @index="main" />
      </div>
      <div class="col">
        <DashboardIcon @name="activity" @index="traffic" />
      </div>
      <div class="col">
        <DashboardIcon @name="gear" @index="settings" />
      </div>
    </div>
  </footer>
{{/if}}